In [2]:
pip install pandas

Requirement already satisfied: pandas in d:\shreya\apps\anaconda\lib\site-packages (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\shreya\apps\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in d:\shreya\apps\anaconda\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: tzdata>=2022.7 in d:\shreya\apps\anaconda\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: pytz>=2020.1 in d:\shreya\apps\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in d:\shreya\apps\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

D:\Shreya\apps\Anaconda\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [5]:
list1 = [1,2,3,4,5,6]
data = pd.Series(list1)
data

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

Pandas objects can be thought of as enhanced versions of
NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices. A Pandas Series is a one-dimensional array of indexed data. It can be created from a
list or array.

In [6]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

the Series wraps both a sequence of values and a
sequence of indices, which we can access with the values and index attributes

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
population_dict = {'California': 38332521,
 'Texas': 26448193,
 'New York': 19651127,
 'Florida': 19552860,
 'Illinois': 12882135}

In [12]:
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

A DataFrame is a collection of Series objects, and a singlecolumn DataFrame can be constructed from a single Series

In [13]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [14]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [33]:
data = {'Name':['Kavitha', 'Sudha', 'Raju','Vignesh'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
df = df.drop(columns='Age')
print(df)

          Name
rank1  Kavitha
rank2    Sudha
rank3     Raju
rank4  Vignesh

In [10]:
df_new = pd.read_csv('insurance.csv')

In [19]:
print(df_new.head())#first five rows

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [20]:
print(df_new.tail())#last 5 rows

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [24]:
print(df_new.index)

RangeIndex(start=0, stop=1338, step=1)

In [27]:
print(df_new[5:10])

   age     sex    bmi  children smoker     region      charges
5   31  female  25.74         0     no  southeast   3756.62160
6   46  female  33.44         1     no  southeast   8240.58960
7   37  female  27.74         3     no  northwest   7281.50560
8   37    male  29.83         2     no  northeast   6406.41070
9   60  female  25.84         0     no  northwest  28923.13692

In [38]:
df_new.head()
print(df_new.shape)

(1338, 7)

In [40]:
print(df_new.describe())

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [43]:
print(df_new.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

In [49]:
print(df_new['smoker'].unique())

['yes' 'no']

In [52]:
print(df_new.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64